<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <h1> Welcome to ..\website-name/..!</h1>
    <h2> Please <a href="/login">LOG IN</a> or <a href="/signup">SIGN UP</a> to continue.</h2>
    <h3>Some stuff to make it look nice</h3>
    <footer>Need to add a footer</footer>
</body>
</html>